<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!-- your controller js -->
    <script src="js/main-controller.js"></script>
  </head>
  <body ng-app="starter" ng-controller="main">

    <ion-pane>
      <ion-content class="login">
        <button class="products" ng-click="products()" >
          Cocacola products
        </button>
        <button class="adds" ng-click="adds()" >
          Cocacola adds
        </button>
        <button class="online" ng-click="online()" >
          Cocacola online
        </button>
        <button class="contact" ng-click="contact()"  >
          Contact us
        </button>

      </ion-content>
      <div class="bar bar-footer bar-assertive">
        <div class="title"><a href="http://www.coca-cola.com/global/glp.html">COCACOLA</a></div>
      </div>

    </ion-pane>
  </body>
</html>
