/* Empty. Add your own CSS if you like */
.login {
background: url('../img/splashmenu.jpg') no-repeat center;
        background-size: 100% 100% !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;

}

button {
    background-color: #555555; /* Green */
    border: 2px solid white; /* Green */
    color: white;
    opacity: 0.6;
    width: 60%;
    height: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20%;
    margin-left: 20%;

}
button.products{
    margin-top:100%; 
}
button.adds{
    margin-top:5%; 
}
button.online{
    margin-top:5%; 
}
button.contact{
    margin-top:5%; 
}